@import '~antd/dist/antd.css';


.app-container {
    padding: 16px;
}

.btn-wrapper {
    padding-bottom: 16px;
}


.tag-input-container {
    padding: 8;
    
   
}

ul {
    list-style: none;
    padding:0;
    padding: 4;

}

.tag-input-ul {
    display: flex;
    flex-wrap:  wrap;
    border: 1px solid #eee;
    align-items: center;
    /* border-radius: 16px; */
    color: #0366d6;
}


.tag-input-item {
    display: inline-block;
    /* padding-left: 12px; */
    text-align: center;

}

.item-wrapper {
    display: flex;
    padding: 6;
    justify-content: start;
    align-items: center;
    color: #0366d6;
}

.tag-item-input {
    /* margin-left: 8px; */
    width: 160px;
   
}


